<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
						http://www.springframework.org/schema/beans/spring-beans.xsd
						http://www.springframework.org/schema/context
						http://www.springframework.org/schema/context/spring-context.xsd
						http://www.springframework.org/schema/aop
						http://www.springframework.org/schema/aop/spring-aop.xsd
						http://www.springframework.org/schema/tx 
						http://www.springframework.org/schema/tx/spring-tx.xsd
						">

	<!-- Quartz自带线程： 默认10个线程 -->

	<!-- 注册自定义作业类 -->
	<bean id="myJob" class="com.wwc.quartz.MyJob"></bean>


	<!-- 配置JobDetail -->
	<bean id="jobDetail"
		class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		 <!-- 要调用的对象 -->  
		<property name="targetObject" ref="myJob" />
		 <!-- 要执行的方法名称 --> 
		<property name="targetMethod" value="run" />
		 <!-- 如果前一个任务还没有结束第二个任务不会启动 false -->  
        <property name="concurrent" value="false" />  
	</bean>

	<!-- 调度触发器 -->
	<bean id="myTrigger"
		class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
		<!-- 注入任务详情对象 -->
		<property name="jobDetail" ref="jobDetail" />
		<!-- 注入cron表达式，通过这个表达式指定触发的时间点 -->
		<property name="cronExpression">
			<value>0/1 * * * * ? 2017-2099</value>
		</property>
	</bean>

	<!-- 配置调度工厂 -->
	<bean id="schedulerFactoryBean" class="org.springframework.scheduling.quartz.SchedulerFactoryBean"
		lazy-init="false">
		<!-- 注入触发器 -->
		<property name="triggers">
			<list>
				<ref bean="myTrigger" />
			</list>
		</property>
		
	</bean>

</beans>
